/*
  Varijable boja
*/

:root {
  --crvena-foto-begovic: rgba(215, 45, 30, 1);
  --crvena-prozirna-foto-begovic: rgba(215, 45, 30, 0.3);
}

/*
  Sadržaj - index
*/

#kartica-vjencanja {
  height: 180px;
  background: url("images/index/vjencanje.webp") no-repeat center center;
  background-size: cover;
}

#kartica-krstenja {
  height: 160px;
  background: url("images/index/krstenje.webp") no-repeat center center;
  background-size: cover;
}

#kartica-sv-potvrde {
  height: 160px;
  background: url("images/index/krizma.webp") no-repeat center center;
  background-size: cover;
}

#kartica-skupovi {
  height: 160px;
  background: url("images/index/skupovi.webp") no-repeat center center;
  background-size: cover;
}

#kartica-ostali-dogadjaji {
  height: 160px;
  background: url("images/index/ostali-dogadjaji.webp") no-repeat center center;
  background-size: cover;
}

.tekst-kartica {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: white;
  font-size: 1.4rem;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

#naslovna {
  width: 100%;
  background-image: url("images/naslovna.JPG"); /* Replace with your image URL */
}

.grid-square {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.3rem;
  font-weight: bold;
}
.bg-color-1 {
  background-color: #007bff;
} /* Blue */
.bg-color-2 {
  background-color: #28a745;
} /* Green */
.bg-color-3 {
  background-color: #dc3545;
} /* Red */
.bg-color-4 {
  background-color: #ffc107;
} /* Yellow */
.bg-color-5 {
  background-color: #17a2b8;
} /* Teal */
.bg-color-6 {
  background-color: #6f42c1;
} /* Purple */
.bg-color-7 {
  background-color: #fd7e14;
} /* Orange */
.bg-color-8 {
  background-color: #343a40;
} /* Dark Gray */

/*
  Podnožje
*/

a.poveznica-podnozje {
  color: inherit;
  text-decoration: underline;
}

a.poveznica-podnozje:hover {
  text-decoration: none;
}

#lokacija-2 {
  text-decoration: none;
}

/*
  Izbornik
*/

.navbar-light .navbar-nav .nav-link {
  color: rgba(0, 0, 0, 1);
}

/* Zadano je podcrtati poveznicu na trenutnu stranicu */
.trenutna-stranica .nav-link {
  text-decoration: underline;
}

/* Kada je kursor preko drugih elemenata treba maknuti podcrtnje sa vec spomenute poveznice */
.navbar-nav:hover .trenutna-stranica .nav-link {
  text-decoration: none;
}

/* Podcrtati poveznicu preko koje se nalazi kursor */
.navbar-nav .nav-item:hover .nav-link {
  text-decoration: underline;
}

#btn-kontakt {
  background-color: var(--crvena-foto-begovic);
  color: #ffffff;
  border: 2px solid transparent;
}

#btn-kontakt:hover {
  background-color: #ffffff;
  color: var(--crvena-foto-begovic);
  border: 2px solid var(--crvena-foto-begovic);
}

.navbar:has(#btn-kontakt:hover) .navbar-nav .trenutna-stranica .nav-link {
  text-decoration: none;
}

/*
  Fontovi
*/

.font-sadrzaj {
  font-size: 1.1rem;
}

.font-izbornik {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.font-podnozje {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 0.85rem;
  font-style: normal;
}
