/*
  Varijable boja
*/

:root {
  --crvena-foto-begovic: #d72d1e;
}

/*
  Sadržaj - index
*/

#naslovna {
  width: 100%;
  background-image: url("images/naslovna.JPG"); /* Replace with your image URL */
}

.grid-square {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.3rem;
  font-weight: bold;
}
.bg-color-1 {
  background-color: #007bff;
} /* Blue */
.bg-color-2 {
  background-color: #28a745;
} /* Green */
.bg-color-3 {
  background-color: #dc3545;
} /* Red */
.bg-color-4 {
  background-color: #ffc107;
} /* Yellow */
.bg-color-5 {
  background-color: #17a2b8;
} /* Teal */
.bg-color-6 {
  background-color: #6f42c1;
} /* Purple */
.bg-color-7 {
  background-color: #fd7e14;
} /* Orange */
.bg-color-8 {
  background-color: #343a40;
} /* Dark Gray */

/*
  Podnožje
*/

a.poveznica-podnozje {
  color: inherit;
  text-decoration: underline;
}

a.poveznica-podnozje:hover {
  text-decoration: none;
}

/*
  Izbornik
*/

#btn-kontakt {
  background-color: var(--crvena-foto-begovic);
  color: #ffffff;
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(0, 0, 0, 1);
}

/* Zadano je podcrtati poveznicu na trenutnu stranicu */
.trenutna-stranica .nav-link {
  text-decoration: underline;
}

/* Kada je kursor preko drugih elemenata treba maknuti podcrtnje sa vec spomenute poveznice */
.navbar-nav .nav-item:hover .nav-link,
.navbar-nav:hover .trenutna-stranica .nav-link {
  text-decoration: none;
}

/* Podcrtati poveznicu preko koje se nalazi kursor */
.navbar-nav .nav-item:hover .nav-link {
  text-decoration: underline;
}

/*
  Fontovi
*/

.font-izbornik {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.font-podnozje {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 0.85rem;
  font-style: normal;
}
